* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2em;
    background: #121719 url("images/profile-bg.jpg") top center repeat;
    background-size: cover;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

p {
    text-align: justify;
}

a {
    color: #fff;
}

.name-title {
    font-size: 280%;
    font-weight: 500;
    color: #d2d70c;
    margin: 0;
}

.name-subtitle {
    font-size: 110%;
    font-weight: 300;
    color: #73909b;
    margin: 0;
}

.tech-icons {
    font-size: 200%;
    text-align: center;
    margin: 0.5em 0 1em;
}

.tech-icons > a {
    display: inline-block;
    color: #525d61;
    animation-name: breath;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: color 200ms ease-out;
}

.tech-icons > a:hover {
    color: #d2d70c;
}

.tech-icons > a:nth-child(2n) {
    animation-delay: 500ms;
}

.tech-icons > a + a {
    margin-left: 0.4em;
}

section {
    max-width: 470px;
    margin: 0 auto;
}

.social-icons {
    font-size: 230%;
    margin-top: 1em;
    text-align: center;
}

.social-icons > a {
    display: inline-block;
    color: #fff;
    transition: transform 200ms ease-out;
}

.social-icons > a:hover {
    transform: scale(1.2);
}

.social-icons > a + a {
    margin-left: 0.4em;
}

@keyframes breath {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width: 370px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 400px) {
    body {
        font-size: 15px;
    }

    header {
        font-size: 105%;
    }

    .tech-icons {
        margin: 1em 0 1.5em;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 20px;
    }

    header {
        font-size: 110%;
    }
}


@media (min-width: 1100px) {
    body {
        font-size: 16px;
        background: #121719 url("images/profile.jpg") top right no-repeat;
        background-size: 50% auto;
        padding-right: 50%;
    }

    header,
    section {
        max-width: 700px;
        margin: 0 auto;
        padding-right: 2em;
    }

    header {
        font-size: 142%;
    }

    .tech-icons {
        margin: 0.5em 0 1em;
    }

    .tech-icons > a {
        color: #2b363a;
    }
}


@media (min-width: 1300px) {
    body {
        font-size: 18px;
    }

    header {
        font-size: 150%;
    }

    .tech-icons {
        margin-bottom: 1.2em;
    }
}