* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #121719 url("images/profile-bg.jpg") top center repeat;
    background-size: cover;
    color: #fff;
    font-family: "Niramit", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.body-container {
    padding: 2em;
}

.body-container::after {
    content: "";
    display: block;
    position: absolute;
    background: #fff url("images/profile.jpg") top center repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    transition: all 500ms ease-in;
    transition-delay: 1s;
}

body.loaded .body-container::after {
    left: -100%;
    opacity: 0;
}

p {
    text-align: justify;
}

a {
    color: #fff;
}

header {
    font-size: 110%;
}

.name-title {
    font-size: 280%;
    font-weight: 500;
    color: #d2d70c;
    margin: -0.4em 0 0;
}

.name-subtitle {
    font-size: 102%;
    font-weight: 300;
    color: #73909b;
    margin: 0;
}

.tech-icons {
    font-size: 180%;
    text-align: center;
    margin: 0.5em 0 0.8em;
}

.tech-icons > a {
    display: inline-block;
    color: #525d61;
    animation-name: breath;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: color 200ms ease-out;
}

.tech-icons > a:hover {
    color: #73909b;
}

.tech-icons > a:nth-child(2n) {
    animation-delay: 500ms;
}

.tech-icons > a + a {
    margin-left: 0.4em;
}

section {
    max-width: 470px;
    margin: 0 auto;
}

.social-icons {
    font-size: 230%;
    margin-top: 1em;
    text-align: center;
}

.social-icons > a {
    display: inline-block;
    color: #fff;
    transition: transform 200ms ease-out;
}

.social-icons > a:hover {
    transform: scale(1.2);
}

.social-icons > a + a {
    margin-left: 0.4em;
}

@keyframes breath {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.quotes {
    margin-top: 3em;
    height: 11em;
    position: relative;
}

.quotes::before {
    content: "";
    display: inline-block;
    width: 50%;
    height: 1px;
    border-bottom: 1px solid #fff;
    opacity: 0.4;
    vertical-align: middle;
    margin-top: -3em;
}

.quote {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*display: none;*/
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    filter: blur(20px);
    opacity: 0;
    transition: all 500ms ease;
}

.quote.active {
    /*display: block;*/
    filter: blur(0);
    opacity: 1;
    transition-delay: 500ms;
}

/*.person-image {*/
    /*display: inline-block;*/
    /*width: 3em;*/
    /*height: 3em;*/
    /*border: 2px solid #fff;*/
    /*border-radius: 2em;*/
/*}*/

.quote-source {
    font-weight: 700;
    text-align: right;
    margin-top: -0.5em;
}

.quote-source::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1px;
    border-bottom: 1px solid #fff;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-top: -2px;
}

.marker-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.marker-dot {
    display: inline-block;
    vertical-align: bottom;
    line-height: 200px;
    overflow: hidden;
    background: none;
    border: 1px solid #fff;
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.5em;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.marker-dot.active {
    background: #fff;
}

@media (min-width: 370px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 400px) {
    body {
        font-size: 15px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 20px;
    }

    header {
        font-size: 120%;
    }
}


@media (min-width: 1100px) {
    body {
        font-size: 16px;
        background: #121719;
    }

    .body-container {
        padding-right: 50%;
        position: relative;
    }
    
    .body-container::after,
    body.loaded .body-container::after {
        opacity: 1;
        left: 50%;
        width: 50%;
    }

    header,
    section {
        max-width: 700px;
        margin: 0 auto;
        padding-right: 2em;
    }

    header {
        font-size: 145%;
    }

    .tech-icons > a {
        color: #2b363a;
    }

    .quotes {
        height: 9em;
    }
}


@media (min-width: 1300px) {
    body {
        font-size: 20px;
    }
}