* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #04090d;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.container {
    margin: 0 2em;
}

a {
    color: #45a0a3;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #4ecacf;
}

h1 {
    text-transform: uppercase;
    line-height: 1em;
}

h2 {
    text-transform: uppercase;
    font-size: 200%;
}

h3 {
    font-size: 130%;
    font-weight: 200;
}

p {
    text-align: justify;
}

section {
    padding: 6em 0;
}

.teaser {
    margin: -1em 0 2em;
}

section.centered h2,
section.centered h3,
section.centered .teaser,
section.centered .content {
    text-align: center;
}

.button {
    display: inline-block;
    border: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.button-primary {
    color: #222 !important;
    background: #fff;
    border-radius: 2em;
    transition: box-shadow 0.3s ease;
}

.button-primary:hover,
.button-primary:focus {
    color: #2da1a5 !important;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
}

.input {
    padding: 0.5em;
    font-size: 1em;
    color: #0d1e2b;
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
}

@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 920px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* header */

header {
    position: relative;
    background: #193245 url("../images/shai-pal-lpQwaLWhw9Q-unsplash-small.jpg") center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 180px 20px 100px 0;
}

header #introduction,
header h1 {
    text-transform: uppercase;
}

header #introduction {
    font-weight: 500;
}

header h1 {
    font-size: 320%;
    font-weight: 400;
    margin: 0.2em 0 0.4em;
}

header a {
    color: #fff;
}

header a:hover {
    color: #dfb754;
}

header p {
    font-size: 110%;
    margin: 0.5em 0 2em;
    text-align: left;
}

header address {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
    font-style: normal;
    font-size: 80%;
    font-weight: 500;
    color: #222;
    border-radius: 2em;
    padding: 0.5em 1em;
    position: absolute;
    bottom: 2em;
    right: 1em;
    cursor: default;
}

@media (min-width: 300px) {
    header {
        padding: 180px 100px 100px 0;
    }
}

@media (min-width: 768px) {
    header {
        background-image: url("../images/shai-pal-lpQwaLWhw9Q-unsplash.jpg");
        padding: 400px 0 390px;
    }

    header address {
        right: 2em;
    }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    header {
        background-image: url("../images/shai-pal-lpQwaLWhw9Q-unsplash-retina.jpg");
    }
}

/* overview */

#portrait {
    width: 250px;
    height: 250px;
    margin: 0 auto 6em;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 1em 1em rgba(187, 192, 255, 0.2);
    border: 5px solid #fff;
}

#portrait > img {
    max-width: 100%;
}

@media (min-width: 768px) {
    #portrait {
        width: 300px;
        height: 300px;
    }

    #overview .container {
        position: relative;
        padding-left: 350px;
    }

    #portrait {
        position: absolute;
        margin: 0;
        left: 0;
    }
}

@media (min-width: 992px) {
    #overview .container {
        padding-left: 400px;
    }
}

@media (min-width: 1200px) {
    #overview .container {
        padding-left: 450px;
    }
}

/* skills */

#skills {
    background: #fef9ff;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(45, 12, 47, 0.04));
}

.skill {
    text-align: center;
    padding: 1em 0;
    max-width: 350px;
    margin: 0 auto;
}

.skill > span {
    font-size: 400%;
}

.skill h3 {
    font-size: 140%;
    font-weight: 400;
    margin: 0.5em 0;
}

.skill p {
    margin-top: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .skills {
        padding-top: 4em;
        display: flex;
        justify-content: space-between;
    }

    .skill {
        width: 30%;
        margin: 0;
        font-size: 80%;
    }

    .skill > span {
        margin: 0.4em 0;
    }

    .skill h3 {
        margin: 1em 0;
    }
}

/* numbers */

#numbers {
    padding: 7em 0;
    color: #fff;
    background: #0e3e62;
    background: linear-gradient(to right, #2da1a5, #0e3e62);
}

#numbers ul {
    list-style: none;
    margin: -4em 0;
    padding: 0;
}

#numbers ul > li {
    margin: 4em 0;
    font-size: 110%;
    text-align: center;
}

#numbers .number {
    display: block;
    font-weight: 600;
    font-size: 300%;
    line-height: 1.2em;
}

@media (min-width: 768px) {
    #numbers ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    #numbers ul > li {
        margin: 0;
        display: inline-block;
    }
}

/* techs */

.tags {
    list-style: none;
    margin: 0;
    padding: 2em 0;
    line-height: 3em;
}

h4 + .tags {
    margin-top: -2em;
}

.tags > li {
    display: inline-block;
    border-radius: 2em;
    background: #152c3d;
    color: #fff;
    padding: 0.2em 1em;
    line-height: 2em;
    font-weight: 300;
    vertical-align: bottom;
    transition: all 0.2s ease-out;
    cursor: default;
}

.tags > li:hover,
.tags > li:focus-within {
    background: #219fa3;
}

.tags > li a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

/* testimonials */

#testimonials {
    background: #f9f9ff;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(213, 219, 224));
    padding: 6em 0;
}

#quote-container {
    scroll-behavior: smooth;
    cursor: default;
    margin: 0 -2em;
    overflow: auto;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#quote-container::-webkit-scrollbar {
    width: 0 !important;
}

.quotes {
    padding: 4em 2em;
    width: 2200px;
    display: flex;
    justify-content: space-between;
}

.quote {
    position: relative;
    width: 250px;
    padding: 1em 2em 3em;
    background: #fff;
    box-shadow: 0 0.6em 2em rgb(213, 225, 233);
    font-size: 90%;
    border-radius: 2em;
}

.quote p {
    text-align: left;
    font-style: italic;
    font-weight: 400;
    color: #999;
}

.quote-source {
    font-weight: 600;
    font-size: 1.2em;
    position: absolute;
    bottom: 1em;
    left: 1.67em;
}

#testimonials .prev,
#testimonials .next {
    display: none;
}

@media (min-width: 400px) {
    .quotes {
        width: 2800px;
    }

    .quote {
        width: 320px;
    }
}

@media (min-width: 768px) {
    #testimonials .container {
        position: relative;
    }

    #quote-container {
        margin: 0;
    }

    #testimonials .prev,
    #testimonials .next {
        display: block;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        font-size: 250%;
        bottom: 35%;
        width: 1em;
        height: 1em;
        color: #ccc;
    }

    #testimonials .prev:hover,
    #testimonials .next:hover,
    #testimonials .prev:focus,
    #testimonials .next:focus {
        color: #042d2e;
        cursor: pointer;
    }

    #testimonials .prev {
        left: -1.5em;
    }

    #testimonials .next {
        right: -1.5em;
    }

    .quotes {
        width: 2850px;
    }

    .quote {
        width: 320px;
    }
}

@media (min-width: 992px) {
    .quotes {
        width: 3650px;
    }

    .quote {
        width: 410px;
    }
}

@media (min-width: 1200px) {
    .quotes {
        width: 4500px;
    }

    .quote {
        width: 525px;
    }
}

/* footer */

footer {
    background: #081926;
    background: linear-gradient(#164d4f, #0b2e49);
    color: #b6bfbf;
}

footer a {
    color: #b6bfbf;
}

footer a:hover, footer a:focus  {
    color: #dfb754;
}

/* get started */

#get-started {
    padding: 2em 0;
}

#get-started h2 {
    color: #fff;
    font-weight: 400;
}

#get-started .teaser {
    color: #fff;
    font-weight: 100;
}

#get-started .button-primary {
    min-width: 150px;
    font-size: 1em;
    border: 2px solid #fff;
    border-radius: 2em;
    background: #185a8c;
    background: linear-gradient(to left, #113047, #1b6163, #113047);
    background-size: 200% 100%;
    color: #fff !important;
    animation: button-roll 4s ease-in-out infinite;
}

#get-started .button-primary:hover,
#get-started .button-primary:focus {
    box-shadow: 0 0 1em 0.2em #fff;
}

#get-started .button {
    color: #fff;
}

@keyframes button-roll {
    0%{background-position:0 0}
    100%{background-position:200% 0}
}


/* faq */

#faq {
    padding: 2em 0 0;
}

#faq h3 {
    color: #fff;
}

.question {
    font-weight: 200;
    outline: none;
}

.question > button {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    background: 0;
    color: #b6bfbf;
    width: 100%;
    text-align: left;
    font-size: 110%;
    cursor: pointer;
    font-weight: 400;
}

.question:focus > button,
.question > button:focus,
.question > button:hover {
    cursor: pointer;
    outline: none;
    color: #dfb754;
}

.question > button:before {
    content: "Q: ";
}

.question > p {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}

.question:focus > p,
.question > button:focus + p {
    height: 100px;
}

@media (min-width: 768px) {
    .question {
        max-width: 768px;
        margin: 0 auto;
    }

    .question > p {
        padding-left: 1.3em;
    }
}


/* contact */

#contact {
    font-weight: 200;
}

#contact h4 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: #fff;
}

#contact p {
    margin: 0.5em 0 1em;
    font-size: 90%;
}

#contact a {
    text-decoration: none;
}

#contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#say-hi li {
    margin: 0.5em 0;
}

#follows {
    margin-top: 6em;
}

#follows ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 60%;
}

#follows ul > li {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}

#follows ul > li + li {
    margin-left: 1em;
}

#follows .typcn {
    display: block;
    font-size: 400%;
}


@media (min-width: 768px) {
    #contact .container {
        display: flex;
        justify-content: space-between;
    }

    #say-hi ul {
        margin-top: 2em;
    }

    #follows {
        margin-top: 0;
    }
}
